html {
  background-image: url("https://img3.akspic.ru/crops/5/9/9/6/7/176995/176995-yabloko-makbuk_ejr-apple-apple_masvook_pro-yabloko_m2-3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
